body {
    font-family: "Open Sans";
}

.contentWrapper {
    position: relative;
    height: calc(90vh - 1rem);
    box-sizing: content-box;
    overflow: hidden;

    .map {
        height: 100%;
        width: calc(100% - 300px);
        top: 0;
        left: 0;
        position: relative;
    }
    .info {
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        overflow: scroll;
        padding: 1em;

        .color {
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
            display: inline-block;
        }
      }
}
